@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-color: #1e1e1e;
  --circle-color: #f7d211;
  --gray-color: #d9d9d9;
}

*, pre {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Irish Grover', 'Prompt', sans-serif;
}

@media (min-width: 768px) {
  .containers-sm {
    max-width: 750px;
  }
}

.containers {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 992px) {
  .containers {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .containers {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .containers {
    max-width: 540px;
  }
}

.containers {
  max-width: 750px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

/*.container {*/
/*  width: 100%;*/
/*  padding-right: 10px;*/
/*  padding-left: 10px;*/
/*  margin-right: auto;*/
/*  margin-left: auto;*/
/*}*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header > .box-brand {
  width: 100%;
}

.header > .box-brand > h1 {
  text-decoration: none;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  width: max-content;
  margin: 0 auto;
  position: relative;
}

.text-wrapper h2 > a {
  text-decoration: none;
  color: var(--font-color);
}

.header > .box-brand > h1 > a {
  text-decoration: none;
  color: var(--font-color);
}

.header > .box-brand > h1:hover {
  cursor: pointer;
}

.header > .box-brand > h1 > a::before {
  content: '';
  border-radius: 100%;
  position: absolute;
  top: -8px;
  left: -18px;
  z-index: -10;
  width: 56px;
  height: 58px;
  background: var(--circle-color);
}

.search {
  padding: 0.5rem;
  color: var(--font-color);
  cursor: pointer;
}

nav.menu-bar {
  padding: 1rem 0;
  /*margin: 0 2.75rem 0 auto;*/
  max-width: 670px;
}

nav.menu-bar > ul {
  font-size: 18px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 0;
}

nav.menu-bar > ul > li {
  cursor: pointer;
  padding: 0.125rem 0.25rem;
}

.title,
.content > pre {
  color: black;
  font-family: 'Irish Grover', 'Prompt', sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}

.content > pre {
  white-space: pre-wrap;
}

.sub-title {
  color: black;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contain {
  /*max-width: 670px;*/
  /* padding: 0 1rem; */
  margin: 0 auto;
}

.box-image {
  width: 354px;
  height: 253px;
}

.box-image > img {
  position: absolute;
}

.box-image > img:nth-child(1) {
  left: 6.25rem;

  z-index: 1;
}

.box-image > img:nth-child(2) {
  top: 3rem;
  right: 0.3rem;
}

.box-image > img:nth-child(3) {
  bottom: 0;
  left: 0;
}

.box-image-two {
  width: 355px;
  height: 192px;
}

.box-image-two > img:first-child {
  top: 0;
  left: -1rem;
}

.box-image-two > img:last-child {
  z-index: 1;
  top: 1.15rem;
  right: 0;
}

.box-line {
  height: 30px;
}

.box-line > img:last-child {
  bottom: 0;
  left: 1.45rem;
}

.box-image-three {
  width: 372px;
  height: 237px;
}

.capsule {
  background-color: var(--gray-color);
  border-radius: 20px;
  padding: 0.05rem 0.75rem;
  font-size: 12px;
  cursor: pointer;
}

#map {
  width: 332px;
  height: 258px;
}

.days > p:first-child {
  width: 84px;
}

.days > p {
  margin-bottom: 0.75rem;
}

/* Dropdown Button */
.dropbtnOne,
.dropbtnTwo,
.dropbtnThree,
.dropbtnFour,
.dropbtnFive,
.dropbtnSix {
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 0.15rem 0.75rem;
  border-radius: 0.375rem;
  transition: background-color 0.35s ease-in-out;
}

/* Dropdown button on hover & focus */
.dropbtnOne:hover,
.dropbtnOne:focus {
  background-color: #adacdf;
}

.dropbtnTwo:hover,
.dropbtnTwo:focus {
  background-color: #dfacc8;
}

.dropbtnThree:hover,
.dropbtnThree:focus {
  background-color: #acdfca;
}

.dropbtnFour:hover,
.dropbtnFour:focus {
  background-color: #dfd4ac;
}

.dropbtnFive:hover,
.dropbtnFive:focus {
  background-color: #dfacac;
}

.dropbtnSix:hover,
.dropbtnSix:focus {
  background-color: #c6acdf;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-one,
.dropdown-content-two,
.dropdown-content-three,
.dropdown-content-four,
.dropdown-content-five,
.dropdown-content-six {
  display: none;
  position: absolute;
  background-color: #d9d9d9;
  top: 2.5rem;
  min-width: 430px;
  padding: 1.25rem 2.5rem;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  z-index: 10;
}

.dropdown-content-two {
  left: -5rem;
}

.dropdown-content-three {
  left: -11rem;
}

.dropdown-content-four {
  left: -15rem;
}

.dropdown-content-five {
  left: -13rem;
}

.dropdown-content-six {
  left: -23rem;
}

/* Links inside the dropdown */
.dropdown-content-one a,
.dropdown-content-two a,
.dropdown-content-three a,
.dropdown-content-four a,
.dropdown-content-five a,
.dropdown-content-six a {
  color: black;
  padding: 6px 0;
  font-size: 13px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content-one a:hover,
.dropdown-content-two a:hover,
.dropdown-content-three a:hover,
.dropdown-content-four a:hover,
.dropdown-content-five a:hover,
.dropdown-content-six a:hover {
  color: #adacdf;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: flex;
  justify-content: center;
  gap: 6rem;
}

h3 > a {
  text-decoration: none;
  color: #1e1e1e;
}

h3 a:hover {
  text-decoration: underline;
  color: #1e1e1e;
}

span > a {
  text-decoration: none;
  color: #1e1e1e;
}

span a:hover {
  text-decoration: underline;
  color: #1e1e1e;
}

/*width="202" height="136"*/
.shop-image > img {
  width: 202px;
  height: 136px;
  object-fit: cover;
}

.avatar > img {
  width: 51px;
  height: 51px;
  border-radius: 50%;
}

.swiper {
  height: 100%;
  position: relative;
  /*background-color: darkseagreen;*/
}

.hero-buttons {
  position: relative;
  height: 2.5rem;
  max-width: 20rem;
}

.hero-buttons .swiper-pagination {
  position: relative;
  margin-bottom: 5px;
  width: 100%;
  bottom: 0;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #2d2a26;
}

.swiper-pagination .swiper-pagination-bullet {
  border-radius: 0;
  height: 4px;
  width: 8%;
  margin: 0 5px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-prev {
  left: 10px;
  right: auto
}

.swiper-button-next {
  right: 10px;
  left: auto
}

.swiper-button-next:after, .swiper-button-prev:after {
  /* font-family: swiper-icons; */
  font-size: 1.75rem;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  color: #2d2a26;
  line-height: 1;
}

/*@media (min-width: 992px) {*/
/*  .image-wrapper {*/
/*    height: 35.9375rem;*/
/*    background-color: #4a5568;*/
/*  }*/
/*}*/

.image-wrapper {
  width: 100%;
  height: 35.9375rem;
  overflow: hidden;
}

.text-wrapper {
  max-width: 1200px;
}

.text-wrapper .title {
  font-size: 3rem;
}


@media only screen and (max-width: 992px) {
  .image-wrapper {
    width: 100%;
    height: 19.6875rem;
    background-color: #1a9aef;
    overflow: hidden;
  }
}

/*.image-wrapper {*/
/*  width: 100%;*/
/*  height: 19.6875rem;*/
/*  background-color: #1a9aef;*/
/*  overflow: hidden;*/
/*}*/


@media (min-width: 768px) {
  ._gallery .thumbs-slider .slide {
    max-width: 80px;
    margin-right: 15px;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  ._gallery .slide {
    opacity: .2;
    cursor: grab;
  }
}


@media (min-width: 768px) {
  ._gallery .slider-container.main-slider {
    margin: 15px 0 0;
  }
}

.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

@media (min-width: 768px) {
  ._gallery .mySwiper .slide.swiper-slide-thumb-active {
    opacity: 1;
  }
}

._gallery .slide {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

@media (min-width: 768px) {
  ._gallery .mySwiper2 .slide.swiper-slide-active {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  ._gallery .slide {
    opacity: .2;
    /*cursor: -webkit-grab;*/
    cursor: grab;
  }
}

._gallery .slide {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

@media (min-width: 768px) {
  ._gallery .slide .slider-img {
    min-height: 500px;
  }
}

._gallery .slide .slider-img {
  max-height: 260px;
  background: #f4f4f4;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (min-width: 576px) {
  ._gallery .slide .slider-img .img-wrapper {
    padding-bottom: 500px;
  }
}

._gallery .slide .slider-img .img-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  max-width: 500px;
}

._gallery .slide .slider-img figure {
  margin-bottom: 0;
}

._gallery .slide .slider-img .img-wrapper .image, ._gallery .slide .slider-img .img-wrapper img {
  width: auto;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 100%;
  /*max-width: 800%;*/
  object-fit: contain;
}

img, figure {
  max-width: 100%;
  height: auto;
}


